.userList :global(.ant-list-header) {
  border-block-end: none;
}

.item {
  padding: 0;
}

.header {
  padding: 20px 16px;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
}

.row {
  padding: 8px;
}

.col {
  text-align: left;
  padding-right: 16px;
}

.colCenter {
  text-align: center;
}

.listIconButton {
  font-size: 20px;
}

.listDivider {
  margin: 0;
}

.card {
  width: 100%;
}

.cardTitle {
  font-size: 16px;
  color: #1890ff;
}
